.ul {
    padding: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.ul li {
    list-style-type: none;
    width: 70px;
    height: 30px;
    margin: 5px;
    align-self: baseline;
    border: 1px solid #8B0000;
    padding: 5px;
}

.ul li:hover {
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: inset 0 0 0 1px #B22222;
}